@tailwind base;
@tailwind components;
@tailwind utilities;

/* Background */
.bg-custom-bg {
    background-color: #f2c84c00; 
    background-image: url('background.jpeg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    font-size: 1.2rem;
    /* Regla responsive para pantallas pequeñas */
    @media (max-width: 768px) {
        background-size: contain; 
        background-attachment: scroll; 
    }
}


.text-primary {
    color: #f9f9f9; 
    text-align: center;
    display: flex;
    flex-direction:row;
    align-items: center;
    text-align: left;
    /* Regla responsive para pantallas pequeñas */
    @media (max-width: 768px) {
        font-size: 1.5rem; 
    }
}

/* Fuente en negrita personalizada */
.font-bold {
    font-weight: 700;

    /* Regla responsive para pantallas pequeñas */
    @media (max-width: 768px) {
        font-weight: 600; /* Reduce el peso de la fuente para pantallas pequeñas */
    }
}
