@tailwind base;
@tailwind components;
@tailwind utilities;

/* Background */
.bg-custom-bg {
    background-color: #f2c84c00; /* Cambia el color de fondo según tus preferencias */
    background-image: url('background.jpeg'); /* Reemplaza 'ruta-de-tu-imagen.jpg' con la ruta de tu imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen al contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Fija la imagen de fondo en su lugar */
    font-size: 1.2rem;
    /* Regla responsive para pantallas pequeñas */
    @media (max-width: 768px) {
        background-size: contain; /* Redimensiona la imagen para ajustarse al contenedor */
        background-attachment: scroll; /* Cambia a desplazamiento para pantallas pequeñas */
    }
}

/* Texto personalizado */
.text-primary {
    color: #f9f9f9; /* Cambia el color de texto según tus preferencias */
    text-align: center;
    display: flex;
    flex-direction:row;
    align-items: center;
    text-align: left;
    /* Regla responsive para pantallas pequeñas */
    @media (max-width: 768px) {
        font-size: 1.5rem; /* Tamaño de fuente más grande para pantallas pequeñas */
    }
}

/* Fuente en negrita personalizada */
.font-bold {
    font-weight: 700;

    /* Regla responsive para pantallas pequeñas */
    @media (max-width: 768px) {
        font-weight: 600; /* Reduce el peso de la fuente para pantallas pequeñas */
    }
}
